<div class="toolbar-strip">
    <table class="toolbar-strip-table">
        <tr>
            <td class="toolbar-strip-icon-column ">
                <app-image24x24 [source]="network"></app-image24x24>
            </td>
            <td>
                <label class="toolbar-strip-label">{{title}}</label> 
            </td>
            <td class="toolbar-strip-icon-column ">
                <a>
                    <img class="icon-settings" src="assets/ic_settings_applications_24px.svg" (click)="onSettings()">
                </a>
            </td>
        </tr>
    </table>
</div>