/.metadata/
**/node_modules/
App/platforms/
App/plugins/
App/www/*.*
App/www/assets/
Software/Release/
Software/.settings/
Hardware/SmartEWD.net
Hardware/SmartEWD.kicad_pcb
Hardware/SmartEWD.pro
Hardware/SmartEWD.sch
Hardware/SmartEWD-cache.lib
Software/.settings/org.eclipse.cdt.core.prefs
Hardware/SmartEWD.bin
Hardware/SmartEWD.dsn
Hardware/SmartEWD.kicad_pcb-bak
Hardware/SmartEWD.rules
Hardware/SmartEWD.ses
Hardware/Gerber/*.gbr
Hardware/Gerber/*.drl
