<div class="modal-header">
  <h4 class="modal-title">Settings</h4>
</div>
<div class="modal-body">
  <div align="center">
    <table class="table-group">
      <tr>
        <td>
          <table align="center">
            <tr>
              <td colspan="3" class="center-text">Select Axis</td>
            </tr>
            <tr>
              <td class="right-text">Axis 1</td>
              <td>
                <div>
                  <app-switch size="medium" [checked]="changeAxis" (change)="onChangeChangeAxis($event)" color="white"></app-switch>
                </div>
              </td>
              <td>Axis 2</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
  <div align="center" class="vertical-margin">
    <table class="table-group">
      <tr>
          <td>
            <table align="center">
              <tr>
                <td colspan="3" class="center-text">Axis 1</td>
              </tr>
              <tr>
                <td class="right-text">normal</td>
                <td>
                  <div>
                    <app-switch size="medium" [checked]="invertPitch" (change)="onChangeInvertPitch($event)" color="green"></app-switch>
                  </div>
                </td>
                <td>inverted</td>
              </tr>
            </table>
          </td>
        </tr>
      <tr>
        <td>
          <table align="center">
            <tr>
              <td colspan="3" class="center-text">Axis 2</td>
            </tr>
            <tr>
              <td class="right-text">normal</td>
              <td>
                <div>
                  <app-switch size="medium" [checked]="invertRoll" (change)="onChangeInvertRoll($event)" color="green"></app-switch>
                </div>
              </td>
              <td>inverted</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Ok</button>
</div>
